<html>
    <head>
    	<title>Jay's first Django app</title>
    </head>
    <body>
    	<div>
    		<h1><a href="/">Django Girls Blog</a></h1>
    	</div>

    	<div>
    		<p>published: 11.06.2017, 23:06</p>
    		<h2><a href="">First post</a></h2>
    		<p>Here is some text about some stuff.</p>
    	</div>

    	<div>
    		<p>published: 11.06.2017, 23:07</p>
    		<h2><a href="">Second post</a></h2>
    		<p>Here is some <em>MORE</em> text about some <em>MORE</em> stuff.</p>
    	</div>
    </body>
</html>
